body{
    background-image: url('bg.png');
    background-position: cover;
}

.header{
	width: 100%;
	height: auto;
	right: 0;
	top: 0;
	position: fixed;
	background-color: #006D7C;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
}

.header a{
	font-size: 40px;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-weight: bold;
	color: white;
}

label{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #0000008c;
}

.kotak_login{
    width: 300px;
    background: rgba(141,193,197,0.9);
    margin: 80px auto;
    padding: 30px 20px;
    margin-top: 215px;
	margin-bottom: 100px;
	top: 30px;
    display: flex;
}

.form-control{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 25px;
}

.tombol_submit{
    background: #006D7C;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 13pt;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}