body{
    background-image: url('bg.png');
	background-position: cover;
}

.header{
	width: 100%;
	height: auto;
	right: 0;
	top: 0;
	position: fixed;
	background-color: #006D7C;
	padding-top: 15px;
	padding-bottom: 20px;
}

.header a{
	font-size: 40px;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-weight: bold;
	color: white;
	padding-left: 40%;
}

.header button:hover{
    background-color: rgba(173, 216, 230, 0.801);
    color: rgb(0, 52, 59);
}

.header button{
	margin-top : 3px;
    margin-right: 50px;
	float : right;
	background: rgba(0, 109, 124, 0.9);
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 15pt;
    border: 2px solid rgb(0, 52, 59);
    border-radius: 3px;
    padding: 10px 20px;
}

.left{
    width: 300px;
	height: 100%;
    margin: 83px auto;
    padding: 30px 20px;
	position: fixed;	
	background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    display: flex;
	float: right;
	border: 5px solid #006D7C;
}

.container-form {
    background-color: #fefefe;
    margin: 2% auto 2% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}



input{
    width: 100%;
    font-size: 30px;
    padding: 12px;
    margin: 8px 0 8px 0px;
    border: 1px solid black;
    box-sizing: border-box;
}


.left ul{
	list-style-type: none;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 25px;
	font-weight: 500;
}

.left li a{
	display: block;
	color: #006D7C;
	text-decoration: none;
	padding: 25px;
	border: 1px solid #006D7C;
	border-left-width: 2px;
	border-right-width: 2px;
	transition: all ease-in-out 250ms;
}

.left li a:hover:not(.active) {
	background-color: rgb(149, 199, 209);
}

.noactive{
	background-color:rgba(186, 228, 232, 0.7);
}

.active{
	background-color: rgb(149, 199, 209);
}

.content{
	margin-top: 140px;
	margin-left: 350px;
}

.cari{
	height: 60px;
	width: 80%;
	max-width: 100%;
    margin: auto;
    padding: 3px 2px;
    margin-top: 1%;
	display: flex;
	margin-bottom: -3%;
}

.hint{
    font-size: 19pt;
}

.tombol_submit{
	background: rgba(0, 109, 124, 0.9);
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 20pt;
	margin-left: 1%;
	width: 25%;
	padding: 10px 20px;
	border: 2px solid rgb(0, 52, 59);
	border-radius: 3px;
	padding: 0px 10px;
}

.tombol_submit:hover{
    background-color: rgba(173, 216, 230, 0.801);
    color: rgb(0, 52, 59);
}

h2{
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-weight: normal;
	text-align: center;
	color: #006D7C;
    font-size: 30px;
    font-weight: 500;
	padding-bottom: 5px;
	padding-left: 35%;
	display: flex;
	margin-top:-55px;
	border-top: 3px solid #006D7C;
	border-bottom: 3px solid #006D7C;
	background: rgba(255, 255, 255, 0.9);
}

table{
	position: block;
	border-collapse: collapse;
	width: 80%;
	max-width: 100%;
	margin: auto;
	overflow-x: scroll;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-weight: 500;
	font-size: 20px;
	margin-top: 50px;
}

th, td{
	padding: 10px;
	text-align: left;
	border: 2px solid  rgb(0, 52, 59);
}

th{
	background-color:  #006D7C;
	text-align: center;
	color: white;
}

tr:hover{
	background-color: lightblue;
}

tr{
	background-color: #f2f2f2;
}
.container-btn-unduh{
    margin-top : 25px;
    margin-right: 100px;
    float : right;
}

.container-btn-unduh button:hover{
    background-color: rgba(173, 216, 230, 0.801);
    color: rgb(0, 52, 59);
}

.container-btn-unduh button{
    background: rgba(0, 109, 124, 0.9);
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 15pt;
    width: 100%;
    border: 2px solid rgb(0, 52, 59);
    border-radius: 3px;
    padding: 10px 20px;
}
